<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form action="{{ url_for('result') }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required />
        <br>
        <br>
        <label for="denoise_filter">Choose a kernel:</label>
        <select id="denoise_filter" name="denoise_filter">
            <option value="">None</option>
            <option value="blur">blur</option>
            <option value="GaussianBlur">GaussianBlur</option>
            <option value="medianBlur">medianBlur</option>
            <option value="bilateralFilter">bilateralFilter</option>
            <option value="fastNlMeansDenoisingColored">fastNlMeansDenoisingColored</option>
        </select>
        <br>
        <br>
        <label for="superRes">Choose a Super Resolution Model:</label>
        <select id="superRes" name="superRes">
            <option value="">None</option>
            <option value="FSRCNN_x3">FSRCNN_x3</option>
            <option value="EDSR_x4">EDSR_x4</option>
            <option value="ESPCN_x4">ESPCN_x4</option>
            <option value="LapSRN_x8">LapSRN_x8</option>
        </select>
        <br>
        <br>
        <input type="submit" />

    </form>

  </body>
</html>
